$primary:#112240; // Light Navy
$secondary:#69dec3;// Green
$success: #233554; // Lightest Navy
$info:#797d89; // Slate or gray
$warning: #a8b2d1; // Light Slate
$danger: #ccd6f6; // Lightest Slate
$light:#e6f1ff; // White
$dark: #0a192f; //Navy

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

@import "~bootstrap/scss/bootstrap";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
