<div class="d-flex flex-column flex-md-row-reverse">
  <div class="col-12 col-md-6 mb-3">
    <video
      loop
      autoplay
      class="d-block mx-lg-auto img-fluid"
      alt="Hero Video"
      width="700"
      height="800"
      loading="lazy"
    >
      <source src="assets/630_630-0187_preview.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="col-12 col-md-6 p-2">
    <h3 class="display-6 fw-bold lh-1 mb-3 text-center">
      <span #asTitle class="fs-4">Hi, my name is </span>
      <span class="text-muted">Euge Dall</span>
    </h3>

    <!-- <typewriter
      [contents]="[]"
      [erasable]="false"
      [beforeType]="500"
      [beforeStart]="0"
      [afterEnd]="1000"
      [delay]="0"
      [speed]="40"
      [deletingAcceleration]="5"
      [deletingTopSpeed]="5"
      [cursor]="'_'"
      [cursorDelay]="-1"
      (afterDone)="yourMethod($event)"
    >
    </typewriter> -->

    <div class="d-flex">
      <div class="col-6 photo-container">
        <img src="assets/eugenia.jpg" alt="" class="photo" />
      </div>

      <p class="col-6 p-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolores,
        ullam soluta, debitis rem dolore dicta, ea architecto doloremque
        consectetur aperiam. Sint assumenda asperiores explicabo impedit
        consequuntur nostrum iste sit.
      </p>
    </div>
  </div>
</div>
